body {
  width:100%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color:white;
}

div {
  display: block;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}

.company {
  background-color: black;
}

.top {
  padding: 0.66rem 0 0.66rem 0.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}

.top img {
  height: 1.5rem;
  padding-right: 1rem;
}


.main {
  background-image: url("../img/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.adv {
  width: 20rem;
  background-color: black;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

.main .container .adv h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.25rem;

}

.main .container .adv h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  background-color: firebrick;

}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

}

.mobile-nav {
  display: none;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.product {
  display: block;
  width: 30%;

}

.product h4 {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}


.product-image {
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
 max-width: 8rem;
}



.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.info {
  width: 35%;

}

.info span h4 {
  background-color: black;
  padding: 1rem 2rem;
}

.info>h4 {
  color: black;
}


.footer {
  background-color: black;
  height: 5rem;
}

.footer h4 {
  padding: 2rem 0;
}

@media only screen and (max-width:1024px) {

  html {
      font-size: 16px;
    }

.desktop {
  display: none;
}

.mobile-nav {
  display: flex;

}

.product {
  width: 47%;
}

.product-image img {
width: 40%;
}


.info {
  width: 35%;
}

.glasses {
  display: none;
}

}

@@media only screen and (max-width: 470px) {

.main {
  height: 15rem;
}

.adv {
  position: relative;
  top: 10rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.adv h4 {
  font-size: 0.77rem;
  font-weight: bold;
}

.adv h1 {
  font-size: 1rem;
  font-weight: bold;
}

.product {
  width: 90%;
}

.glasses, .watch {
  display: none;
}

.info {
  width: 90%;
  padding-bottom: 0.5rem;
}

.footer {
  text-align: center;
}


}
